@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.2857% 4.1176%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.2857% 4.1176%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.2857% 4.1176%;
    --primary: 24.5815 94.9791% 53.1373%;
    --primary-foreground: 60 9.0909% 97.8431%;
    --secondary: 60 4.7619% 95.8824%;
    --secondary-foreground: 24 9.8039% 10%;
    --muted: 60 4.7619% 95.8824%;
    --muted-foreground: 25 5.2632% 44.7059%;
    --accent: 60 4.7619% 95.8824%;
    --accent-foreground: 24 9.8039% 10%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 60 9.0909% 97.8431%;
    --border: 20 5.8824% 90%;
    --input: 20 5.8824% 90%;
    --ring: 24.5815 94.9791% 53.1373%;
    --chart-1: 11.9205 75.8794% 60.9804%;
    --chart-2: 173.2174 57.7889% 39.0196%;
    --chart-3: 197.3333 36.5854% 24.1176%;
    --chart-4: 43.125 73.5632% 65.8824%;
    --chart-5: 27.1233 86.9048% 67.0588%;
    --sidebar: 0 0% 98.0392%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --font-sans: Roboto, sans-serif;
    --font-serif: Geist, sans-serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.4rem;
    --shadow-2xs: 0px 4px 4px -1px hsl(14.1176 100% 10% / 0.01);
    --shadow-xs: 0px 4px 4px -1px hsl(14.1176 100% 10% / 0.01);
    --shadow-sm:
      0px 4px 4px -1px hsl(14.1176 100% 10% / 0.03), 0px 1px 2px -2px hsl(14.1176 100% 10% / 0.03);
    --shadow:
      0px 4px 4px -1px hsl(14.1176 100% 10% / 0.03), 0px 1px 2px -2px hsl(14.1176 100% 10% / 0.03);
    --shadow-md:
      0px 4px 4px -1px hsl(14.1176 100% 10% / 0.03), 0px 2px 4px -2px hsl(14.1176 100% 10% / 0.03);
    --shadow-lg:
      0px 4px 4px -1px hsl(14.1176 100% 10% / 0.03), 0px 4px 6px -2px hsl(14.1176 100% 10% / 0.03);
    --shadow-xl:
      0px 4px 4px -1px hsl(14.1176 100% 10% / 0.03), 0px 8px 10px -2px hsl(14.1176 100% 10% / 0.03);
    --shadow-2xl: 0px 4px 4px -1px hsl(14.1176 100% 10% / 0.07);
    --tracking-normal: 0em;
    --spacing: 0.3rem;
    --sidebar-background: 0 0% 98%;
  }

  .dark {
    --background: 20 14.2857% 4.1176%;
    --foreground: 60 9.0909% 97.8431%;
    --card: 20 14.2857% 4.1176%;
    --card-foreground: 60 9.0909% 97.8431%;
    --popover: 20 14.2857% 4.1176%;
    --popover-foreground: 60 9.0909% 97.8431%;
    --primary: 20.5405 90.2439% 48.2353%;
    --primary-foreground: 60 9.0909% 97.8431%;
    --secondary: 12 6.4935% 15.098%;
    --secondary-foreground: 60 9.0909% 97.8431%;
    --muted: 12 6.4935% 15.098%;
    --muted-foreground: 24 5.4348% 63.9216%;
    --accent: 12 6.4935% 15.098%;
    --accent-foreground: 60 9.0909% 97.8431%;
    --destructive: 0 72.2222% 50.5882%;
    --destructive-foreground: 60 9.0909% 97.8431%;
    --border: 12 6.4935% 15.098%;
    --input: 12 6.4935% 15.098%;
    --ring: 20.5405 90.2439% 48.2353%;
    --chart-1: 219.8883 70.1961% 50%;
    --chart-2: 160 60% 45.098%;
    --chart-3: 30 80% 54.902%;
    --chart-4: 280 64.7059% 60%;
    --chart-5: 339.7674 74.7826% 54.902%;
    --sidebar: 240 5.8824% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --font-sans: Roboto, sans-serif;
    --font-serif: Geist, sans-serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 4px -1px hsl(0 0% 10.1961% / 0.01);
    --shadow-xs: 0px 4px 4px -1px hsl(0 0% 10.1961% / 0.01);
    --shadow-sm:
      0px 4px 4px -1px hsl(0 0% 10.1961% / 0.03), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.03);
    --shadow:
      0px 4px 4px -1px hsl(0 0% 10.1961% / 0.03), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.03);
    --shadow-md:
      0px 4px 4px -1px hsl(0 0% 10.1961% / 0.03), 0px 2px 4px -2px hsl(0 0% 10.1961% / 0.03);
    --shadow-lg:
      0px 4px 4px -1px hsl(0 0% 10.1961% / 0.03), 0px 4px 6px -2px hsl(0 0% 10.1961% / 0.03);
    --shadow-xl:
      0px 4px 4px -1px hsl(0 0% 10.1961% / 0.03), 0px 8px 10px -2px hsl(0 0% 10.1961% / 0.03);
    --shadow-2xl: 0px 4px 4px -1px hsl(0 0% 10.1961% / 0.07);
    --sidebar-background: 240 5.9% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
